#contact-me {
    height: 414px;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(254, 254, 254);
    max-width: 700px;
    margin: 2rem auto;
    background-color: var(--clr-bg-contact);

}
#contact-form {
    padding-top: 0px;
    display: grid;
    background-color: transparent;
}
#contact-me-h1 {
    margin: auto;
    font-size: 28px;
    padding-bottom: 10px;
    padding-top: 15px;
    color: var(--clr-cntct);
}

.input {
    font-family: 'Zen Dots', cursive;
    padding: 5px;
    height: 20px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: var(--clr-cntct);
    margin: 0px 0 20px 0;
}
#text-area {
    font-family: 'Zen Dots', cursive;
    height: 200px;
    color: rgb(0, 0, 0);
    background-color: var(--clr-cntct);
    font-size: 17px;
}
#button-send {
    font-family: 'Zen Dots', cursive;
    width: 170px;
    height: 30px;
    font-size: 20px;
    border-radius: 3%;
    border: none;
    margin: 3px auto;
    background-color: var(--clr-cntct);
    border: 1px solid black;
    color: rgb(0, 0, 0);
}
::placeholder {
    color: rgb(87, 87, 87);
}
#button-send:hover {
    background-color: var( --clr-hover);
    cursor: pointer;
}